footer { width: 100%}

/* Class Selectors */

/*** Header ***/
#nav {float:right; margin-top: 10px;}
#nav ul { list-style: none; display: block; margin: 0 auto; height:100%;}
#logo a { text-decoration: none; float: left; padding-left: 2.5%;}


.icon-button a { color: #333; text-decoration: none;}
.icon-button a:hover { color: #555; text-decoration: none;}

#header {	
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: black;
	color: #E1E1E1;
	font-size: 1.25em;
}

#header a {color: #E1E1E1; text-decoration: none; font-size:larger}
#header a:hover { color: white;}

/*** Main Content ***/
.main-container { width: 100%;}

.speach-container{
	padding: 0;
	margin: 25px;
	height:100px;
}

.person-quote{
	color: #94A4A4;
	font-weight: normal;
	font-size: 1.25em;
	text-align: justify;
}
.person-name{
	text-align: right;
	padding-top: 50px;
	color: #94A4A4;
	font-size: 1.1em;
}
.person-thumbnail{
	height: 100px;
	width: 100px;
	margin-left: 25px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.logo-thumbnail{

	margin-left: 25px;


}
.bar-thumbnail{
	height: 60px;
	width: 250px;
	margin-left: 25px;


}
.logos-thumbnail{
	height: 100px;
	margin-left: 25px;


}
/*** UI ***/
.my-button{
	display: block !important;
	font-size: 1.5em !important;
}

/*** Slides ***/
.front-slide{
	width: 100%;
	min-height: 100px;
	background-color: white;
	padding-top: 2em;
	padding-bottom: 1em;
}

.front-slide div {padding-top: 2em; padding-bottom: 1em; margin-bottom: 25px;}
.front-slide div div {padding: 0;}
.front-slide div div h3	{text-align: center; font-size: 3em; margin-bottom: 30px;}

.back-slide {background-color: #E1E1E1;}
.back-slide h2 { text-align:center; color: black; margin-top: 15%; font-size: 3em; font-weight: bold;}
.back-slide h2 div a { text-decoration: none; color:white;}
.back-slide p { text-align: center; color: white; font-size: 2em;}

.main-text {
	padding: 0.75em;
	font-size: 1.5em;
	text-align: justify;
}

/* Identifier Selectors*/


#isb_slide, #news_slide, #speakers_slide, #history_slide, #tedx_slide, #sponsors_slide, #recruit_slide {
	overflow: hidden;
	width: 100%;
	padding: 0;
}

#isb_slide{
	background: url('../img/new.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	height: 600px;
	margin: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#news_slide{
	background: url('../img/RedISB.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	height: 600px;
	margin: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#speakers_slide{
	background: url('../img/sd.jpg') 50% 0 no-repeat fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
}

#history_slide{
	background: url('../img/history2.jpg') 50% 0 no-repeat fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
}

#tedx_slide{
	background: url('../img/TEDx.jpg') 50% 0 no-repeat fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
}

#sponsors_slide{
	background: url('../img/sols.jpg') 50% 0 no-repeat fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
}

#recruit_slide{
	background: url('../img/team.JPG') 50% 0 no-repeat fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
}

.greybg {
    margin:auto;
    width: 512px;
    height: 70px;
    background-color: rgba(0,0,0,.5);
    position: relative;
    border-radius:300px;
}
